<!DOCTYPE html>
<html>
<head>
  <title>DuhamelApp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    function validateForm(){
      var fields = ["name", "startDate","endDate", "players", "scoreType", "flights", "cut", "hometown"]

      var i, l = fields.length;
      var fieldname;
      for (i = 0; i < l; i++) {
        fieldname = fields[i];
        if (document.forms["eventForm"][fieldname].value === "") {
          alert(fieldname + " can not be empty");
          return false;
        }
      };
      return true;
    };
  </script>
</head>

<body>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
